extends layout

block content
  h1= title
  p AIS Mapper
  div#map

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
  script(src='/socket.io/socket.io.js')

  script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js')
  link(rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css')
  script.
    L.mapbox.accessToken = '#{mapboxAccessToken}';
    var map = L.mapbox.map('map', '#{mapboxMapId}')
            .setView([26.05, -80.136846], 13);

    //track our data by mmsi as array index
    var d = [];

    var socket = io.connect('//localhost:3000');

    //Using a socket for live updates to the map
    socket.on('ais', function (data) {


      if(data.lat && data.lon) {
        if (d[data.mmsi]) {

          //move existing marker
          d[data.mmsi].marker.setLatLng(L.latLng(
                  data.lat,
                  data.lon));

          //change color
          d[data.mmsi].marker.setIcon(L.mapbox.marker.icon({
            'marker-color': '#769FF8'
          }));

          //update route polyline

          d[data.mmsi].polyline.addLatLng(L.latLng(
                  data.lat,
                  data.lon));

        } else {
          //create a new marker
          d[data.mmsi] = {
            polyline : L.polyline(L.latLng(data.lat, data.lon)).addTo(map)
          };
          d[data.mmsi].marker = L.marker([data.lat, data.lon], {
            icon: L.mapbox.marker.icon({
              'marker-color': '#f86767'
            })
          });
          d[data.mmsi].marker.addTo(map);
        }
      }
    });


    //when the map is first loaded, we will add historical route data from postgis
    function getRoutes(){

      $.get('users', addRoutes, "json");

    }

    //pass geojson to the map to load the historical data
    function addRoutes(geojson){

      var geo = {
        "type": "FeatureCollection",
        "features": geojson
      };

      L.geoJson(geo, {style: L.mapbox.simplestyle.style }).addTo(map);
    }
    map.whenReady(getRoutes);